.dark-theme {
  /* 
    
    Global Colors
    ==========================================================================

  */
  --backgroundColor: var(--colorTertiaryDarken2, rgb(46, 103, 153));
  --fontColor: var(--colorWhite, rgb(255, 255, 255));
  --fontLowContrastColor: var(--colorGray, rgb(204, 204, 204));
  --fontInvertedColor: var(--colorBlack, rgb(0, 0, 0));
  --fontInvertedBackgroundColor: var(--colorWhite, rgb(255, 255, 255));

  --fontLinkColor: var(--colorSecondary, rgb(77, 172, 255));
  --fontLinkHoverColor: var(--colorSecondaryLighten1, rgb(113, 189, 255));

  /* Status Custom */
  --wcagCompliance: rgba(255, 255, 255, 0);
  --criticalBorder: var(--colorCritical, rgb(255, 56, 56));

  --colorCritical: var(--statusDarkCritical, rgb(255, 42, 4));
  --colorSerious: var(--statusDarkSerious, rgb(255, 175, 61));
  --colorCaution: var(--statusDarkCaution, rgb(250, 216, 0));
  --colorNormal: var(--statusDarkNormal, rgb(0, 226, 0));
  --colorStandby: var(--statusDarkStandby, rgb(77, 172, 255));
  --colorOff: var(--statusDarkOff, rgb(142, 154, 163));

  /* 
    
    Button Colors 
    ==========================================================================
    For standard and outline buttons

  */

  /* Button */
  --buttonTextColor: var(--colorWhite, #fff);
  --buttonBackgroundColor: var(--colorPrimary, rgb(0, 90, 143));
  --buttonBorderColor: var(--colorPrimary, rgb(0, 90, 143));
  --buttonBoxShadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);

  /* Button Hover State */
  --buttonHoverTextColor: var(--colorWhite, #fff);
  --buttonHoverBackgroundColor: var(--colorSecondaryDarken1, rgb(58, 129, 191));
  --buttonHoverBorderColor: var(--colorSecondaryDarken1, rgb(58, 129, 191));
  --buttonHoverBoxShadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12),
    0 4px 5px rgba(0, 0, 0, 0.2);

  /* Button Active State */
  --buttonActiveControlTextColor: var(--colorWhite, #fff);
  --buttonActiveBackgroundColor: var(--colorPrimary, rgb(0, 90, 143));
  --buttonActiveBorderColor: var(--colorPrimary, rgb(0, 90, 143));

  /* Default Button State */
  --buttonDefaultBorderColor: var(--colorWhite, #fff);

  /* Outline Button Variant */
  --buttonOutlineTextColor: var(--colorWhite, rgb(255, 255, 255));
  --buttonOutlineBackgroundColor: transparent;
  --buttonOutlineBorderColor: var(--colorPrimary, rgb(0, 90, 143));

  /* Outline Button Variant Hover State */
  --buttonOutlineHoverTextColor: var(--colorSecondary, rgb(0, 90, 143));
  --buttonOutlineHoverBackgroundColor: rgba(30, 47, 66, 0.75);
  --buttonOutlineHoverBorderColor: var(--colorSecondaryDarken1, rgb(58, 129, 191));

  /* 
    
    Control Colors 
    ==========================================================================
    For checkboxes, radio buttons etc …

  */
  --controlTextColor: var(--colorWhite, #fff);
  --controlLabelColor: var(--colorWhite, rgb(255, 255, 255));
  --controlBackgroundColor: var(--colorPrimary, rgb(0, 90, 143));
  --controlBorderColor: var(--colorSecondaryLighten1, rgb(77, 172, 255));
  --controlAccentColor: var(--colorSecondaryLighten1, rgb(77, 172, 255));

  --controlSelectedTextColor: var(--colorWhite, #fff);
  --controlSelectedBackgroundColor: var(--colorSecondaryDarken1, rgb(58, 129, 191));
  --controlSelectedBorderColor: var(--colorWhite, rgb(255, 255, 255));

  /* 
    
    Progress Colors 
    ==========================================================================

  */
  --progressDeterminateBarBackgroundColor: var(--colorSecondary, rgb(77, 172, 255));
  --progressDeterminateTrackBackgroundColor: rgba(0, 0, 0, 0.3);
  --progressDeterminateTrackBorderColor: var(--colorTertiaryDarken2, rgb(20, 32, 44));

  --progressIndeterminate: url("data:image/svg+xml,%3Csvg width='64' height='64' xmlns='http://www.w3.org/2000/svg'%3E %3Cdefs%3E %3ClinearGradient x1='65.479%25' y1='-8.436%25' x2='50%25' y2='100%25' id='a'%3E %3Cstop stop-color='%234dacff' offset='0%25'/%3E %3Cstop stop-color='%234dacff' stop-opacity='0' offset='100%25'/%3E %3C/linearGradient%3E %3C/defs%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M32 64C14.327 64 0 49.673 0 32 0 14.327 14.327 0 32 0c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32zm0-6c14.36 0 26-11.64 26-26S46.36 6 32 6 6 17.64 6 32s11.64 26 26 26z' fill='rgba(0,0,0,.3)'/%3E %3Cpath d='M51.908 8.236l-2.358 3.245A26.894 26.894 0 0 0 32 5C17.088 5 5 17.088 5 32s12.088 27 27 27c1.129 0 2.242-.07 3.334-.204l4.435 3.222C37.286 62.66 34.683 63 32 63 14.88 63 1 49.12 1 32 1 14.88 14.88 1 32 1c7.579 0 14.522 2.72 19.908 7.236z' fill='url(%23a)'/%3E %3Cpath d='M47.564 12c1.92 0 3.557-.64 4.075-2.367.112-.375.361-.67.361-1.08C52 6.248 50.572 4 48.234 4S44 5.867 44 8.17c0 2.304 1.225 3.83 3.564 3.83z' fill='%234dacff'/%3E %3C/g%3E %3C/svg%3E ");

  /* 
    
    Slider Colors 
    ==========================================================================

  */
  --sliderThumbBackgroundColor: var(--colorPrimary, rgb(0, 90, 143));
  --sliderThumbBorderColor: var(--colorWhite, rgb(255, 255, 255));

  --sliderTrackBorderColor: transparent;
  --sliderTrackBackgroundColor: var(--colorGray, rgb(204, 204, 204));

  --sliderHoverThumbBackgroundColor: var(--colorSecondaryDarken1, rgb(58, 129, 191));

  --sliderSelectedTrackBackgroundColor: var(--colorSecondary, rgb(77, 172, 255));

  /* 
    
    Segmented Button Colors 
    ==========================================================================

  */
  --segmentedButtonBorderColor: var(--colorTertiaryDarken1, rgb(30, 47, 66));
  --segmentedButtonBackgroundColor: var(--colorPrimary, rgb(0, 90, 143));
  --segmentedButtonTextColor: var(--colorWhite, rgb(255, 255, 255));

  --segmentedButtonHoverBackgroundColor: var(--colorSecondaryDarken1, rgb(58, 129, 191));
  --segmentedButtonHoverTextColor: var(--colorWhite, rgb(255, 255, 255));

  --segmentedButtonSelectedBackgroundColor: var(--colorSecondaryDarken1, rgb(58, 129, 191));

  --segmentedButtonSelectedBoxShadow: inset 0 2px 4px rgba(0, 0, 0, 0.14), inset 0 3px 4px rgba(0, 0, 0, 0.12),
    inset 0 1px 5px rgba(0, 0, 0, 0.2);

  --segmentedButtonSelectedTextColor: var(--colorWhite, rgb(255, 255, 255));

  /* 
    
    Drop Down/Select Colors 
    ==========================================================================
    
  */
  --selectBackgroundColor: var(--colorPrimary, rgb(0, 90, 143));
  --selectBorderColor: var(--colorPrimary, rgb(0, 90, 143));
  --selectTextColor: var(--colorWhite, rgb(255, 255, 255));
  --selectCaret: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%220%200%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2049.3%20%2851167%29%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3ECaret%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22path-1%22%20points%3D%225%200%2010%205%200%205%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20id%3D%22Caret%22%20fill%3D%22%23FFFFFF%22%20transform%3D%22translate%285.000000%2C%202.500000%29%20scale%281%2C%20-1%29%20translate%28-5.000000%2C%20-2.500000%29%20%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');

  /* 
    
    Toggle Colors 
    ==========================================================================

  */

  --toggleButtonBackgroundColor: var(--colorPrimary, rgb(0, 90, 143));
  --toggleBaseBackgroundColor: var(--colorBlack, #000);
  --toggleBaseBorderColor: var(--colorBlack, rgb(0, 0, 0));
  --toggleBaseTextColor: var(--colorWhite, rgb(255, 255, 255));

  --toggleBaseSelectedTextColor: var(--colorNormal, rgb(86, 240, 0));

  /* Alt Toggle */
  /* --toggleThumbBorderColor: var(--colorGrayDarken2, rgb(122, 122, 122)); */
  --toggleThumbBorderColor: #fff;
  --toggleThumbBackgroundColor: var(--colorWhite, rgb(255, 255, 255));

  --toggleTrackBorderColor: var(--colorGrayDarken2, rgb(122, 122, 122));
  --toggleTrackBackgroundColor: var(--colorGray, rgb(204, 204, 204));

  /* Selected State */
  /* --toggleSelectedThumbBorderColor: var(--colorStandbyDarken2, rgb(27, 122, 153)); */
  --toggleSelectedThumbBorderColor: #fff;

  --toggleSelectedTrackBackgroundColor: var(--colorSecondary, rgb(77, 172, 255));
  --toggleSelectedTrackBorderColor: var(--colorSecondaryDarken2, rgb(46, 103, 153));

  /* Disabled State */
  --toggleDisabledThumbBorderColor: var(--colorGrayDarken1, rgb(122, 122, 122));
  --toggleDisabledThumbBackgroundColor: var(--colorGrayDarken1, rgb(163, 163, 163));
  --toggleDisabledSelectedThumbBorderColor: var(--colorGrayDarken1, rgb(122, 122, 122));

  /* 
    
    Pushbutton Colors 
    ==========================================================================

  */
  --pushbuttonBackgroundColor: var(--colorPrimary, rgb(0, 90, 143));
  --pushbuttonBorderColor: var(--colorBlack, rgb(0, 0, 0));
  --pushbuttonTextColor: var(--colorWhite, rgb(255, 255, 255));

  --pushbuttonSelectedBackgroundColor: var(--colorBlack, rgb(0, 0, 0));
  --pushbuttonSelectedBorderColor: var(--colorBlack, rgb(0, 0, 0));
  --pushbuttonSelectedTextColor: var(--colorNormal, rgb(86, 240, 0));

  /* 
    
    Clock Colors 
    ==========================================================================

  */
  --clockTextColor: var(--colorWhite, rgb(255, 255, 255));
  --clockBackgroundColor: var(--colorTertiaryDarken2, rgb(20, 32, 44));
  --clockBorderColor: var(--colorTertiary, rgb(39, 86, 128));

  /* 
    
    Log Colors 
    ==========================================================================

  */
  --logTextColor: var(--colorWhite, rgb(255, 255, 255));
  --logBackgroundColor: var(--colorTertiaryDarken1);
  --logBorderColor: var(--colorTertiary);

  --logHeaderTextColor: var(--colorWhiteDarken2);

  --logHeaderBackgroundColor: var(--colorTertiaryDarken2, rgb(24, 38, 53));

  --logFilterBackgroundColor: var(--colorStandbyLighten1);
  --logFilterTextColor: var(--colorStandbyDarken3);

  /* 
    
    Tree Colors 
    ==========================================================================

  */
  --treeTextColor: var(--colorWhite, rgb(255, 255, 255));
  --treeBackgroundColor: var(--colorTertiaryDarken1);
  --treeBorderColor: var(--colorBlack);
  --treeItemBorderColor: var(--colorTertiary);

  --treeSelectedBackgroundColor: var(--colorPrimaryDarken1, rgb(58, 129, 191));

  /* 
    
    Tab Colors 
    ==========================================================================

  */
  --tabTextColor: var(--colorSecondary, rgb(77, 172, 255));
  --tabBackgroundColor: var(--colorTertiaryDarken1, rgb(30, 47, 66));
  --tabBorderColor: var(--colorTertiaryDarken2, rgb(20, 32, 44));

  --tabSelectedTextColor: var(--colorWhite, rgb(255, 255, 255));
  --tabSelectedBorderColor: var(--colorSecondary, rgb(77, 172, 355));

  /* 
    
    Card Colors 
    ==========================================================================

  */

  --cardBackgroundColor: var(--colorTertiaryDarken1);

  --cardHeaderBackgroundColor: var(--colorTertiaryDarken3);
  --cardHeaderTextColor: var(--colorWhite, #fff);
  /* 
    
    Input/Text Field Colors 
    ==========================================================================
    
  */

  --inputBackgroundColor: var(--colorWhite, rgb(255, 255, 255));
  --inputBorderColor: transparent;
  --inputTextColor: var(--colorBlack, rgb(14, 11, 11));

  --inputFocusBorderColor: var(--colorSecondary);
  /* --inputFocusBoxShadow: 0 0 4px var(--colorSecondaryLighten3); */
  --inputFocusBoxShadow: inset 0 0 0 1px white, inset 0 0 0 2px var(--colorPrimary);

  --inputInvalidBorderColor: var(--colorCritical, rgb(255, 48, 48));

  /* 
    
    Status Symbols
    ==========================================================================
    
  */
  --statusOff: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%223%22%20fill%3D%22%238C9AA3%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  --statusStandby: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%224.5%22%20fill%3D%22none%22%20stroke%3D%22%234DACFF%22%20stroke-width%3D%223%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  --statusNormal: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%226%22%20fill%3D%22%2300E600%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  --statusCaution: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFD800%22%20fill-rule%3D%22evenodd%22%20d%3D%22M2%204H14V12H2z%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  --statusSerious: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFAB00%22%20fill-rule%3D%22evenodd%22%20d%3D%22M3%203H12V12H3z%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  --statusCritical: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22red%22%20fill-rule%3D%22evenodd%22%20d%3D%22M15%2013.667L1%2013.667%208%202z%22%2F%3E%0A%3C%2Fsvg%3E%0A');

  /* 
    
    Scrollbar Colors -- Dark
    ==========================================================================
    
  */

  --scrollBarThumbBackgroundColor: var(--colorSecondaryDarken2, rgb(46, 103, 153));
  --scrollBarThumbBackgroundHoverColor: var(--colorSecondaryDarken1, rgb(58, 129, 191));
  --scrollBarTrackBackgroundColor: var(--colorTertiaryDarken1, rgb(32, 50, 70));
  --scrollBarTrackCornerBackgroundColor: var(--colorTertiaryDarken1, rgb(32, 50, 70));

  /* 
    
    Timeline Colors -- Dark
    ==========================================================================
      
  */

  --timelineHeaderBackgroundColor: var(--colorTertiaryDarken1, rgb(32, 50, 70));
  --timelineHeaderTextColor: var(--fontColor, rgb(255, 255, 255));

  --timelineRulerBackgroundColor: var(--colorTertiaryDarken1, rgb(32, 50, 70));
  --timelineRulerTextColor: var(--fontColor, rgb(255, 255, 255));

  --timelineTrackLabelBackgroundColor: var(--colorTertiary, rgb(40, 63, 88));
  --timelineTrackBackgroundColor: var(--colorTertiary, rgb(40, 63, 88));

  --timelineRegionBackgroundColor: var(--colorPrimaryDarken3, rgb(0, 36, 57));
  --timelineRegionTextColor: var(--fontColor, rgb(255, 255, 255));
  --timelineRegionBorderColor: var(--colorPrimary, rgb(0, 90, 143));

  --timelineRegionSelectedBorderColor: var(--colorSecondary, rgb(77, 172, 255));
  --timelineRegionSelectedBackgroundColor: var(--colorSecondaryDarken1, rgb(62, 138, 204));
  --timelineRegionSelectedTextColor: var(--fontColor, rgb(255, 255, 255));
}

li.dark-theme {
  display: none;
}
