html,
body {
  margin: 0;
  padding: 0;
}

.no-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.side-by-side {
  display: flex;
  width: 100%;
  align-content: space-around;
}

.side-by-side figure {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  flex-grow: 1;
  padding: 1rem;
}

.side-by-side figcaption {
  align-self: flex-end;
  margin: 2rem auto 0 auto;
}

.row {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.row figcaption {
  width: 10rem;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-list li {
  margin: 0 0.5rem 0 0;
}

.rux-form-field {
  margin-bottom: 0.5rem;
}

.toggle-button-demo .rux-form-field {
  display: flex;
  justify-content: space-between;
}

.dark-theme {
  color: #fff;
}

.light-theme {
  color: #000;
}

.table {
  width: calc(100% - 2rem);
  margin: 0 1rem;
  border-collapse: collapse;
}

.table thead tr {
  border-bottom: 2px solid white;
}

.table th,
.table td {
  text-align: left;
  font-weight: normal;
  padding: 1rem 1rem;
}

.table th {
  font-size: 0.865rem;
  padding: 0.5rem 1rem;
}

.table th:first-child,
.table td:first-child {
  padding-left: 0;
}

.table th:last-child,
.table td:last-child {
  padding-right: 0;
}

.table tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.code {
  font-size: 0.9125em;
  font-family: "Roboto Mono", "Courier New", monospace;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.1rem 0.25rem;
}

.table-number {
  font-size: 0.9125em;
  font-family: "Roboto Mono", "Courier New", monospace;
  text-align: right;
}

.status-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 1.3rem 0;
  padding: 0;
}

.status-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-list .rux-status-indicator {
  margin-bottom: 0.5rem;
}

.rux-tabs {
}

.rux-tabs ul {
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .table {
    font-size: 0.875rem;
    min-width: auto;
  }

  .table th,
  .table td {
    text-align: left;
    font-weight: normal;
    padding: 0 0.75rem;
  }

  .table th {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}
