.color-palette {
  display: flex;
  padding: 0;
  justify-content: stretch;

  flex-direction: row;

  width: 700px;
  overflow: hidden;
}

.index-color {
  margin: 0;
  width: 40%;
}

.variant-colors {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 60%;
}

.color-values {
  font-size: 0.875rem;
  padding: 0.55rem;
  margin: 0;

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: center;

  color: #000;
  line-height: 1;
}

.index-color .color-values {
  align-self: flex-start;
}

.color-values dt,
.color-values dd {
  margin-bottom: 0.25rem;
}

.color-values dt {
  width: 15%;
}
.color-values dd {
  width: 85%;
}
