.rux-clock {
  display: flex;
  color: var(--clockTextColor, rgb(255, 255, 255));

  font-size: 1.15rem;
}

.rux-clock__segment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rux-clock__segment__value {
  display: flex;
  align-items: center;
  font-family: var(--fontFamilyMono, "Roboto Mono", monospace);
  font-weight: 700;

  border: 1px solid var(--clockBorderColor, rgb(39, 86, 128));

  background-color: var(--clockBackgroundColor, rgb(20, 32, 44));
  margin-bottom: 0.25rem;

  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.rux-clock--compact .rux-clock__segment__value {
  height: 2.75rem;
  padding: 0 0.75rem;
  font-size: 1.15rem;
  font-weight: 500;
}

.rux-clock__day-of-the-year .rux-clock__segment__value {
  border-right: none;
}

.rux-clock:not(.rux-clock--compact) .rux-clock__segment__value {
  font-size: 1.75rem;
  height: 2.75rem;
  padding: 0 0.75rem;
}

.rux-clock__segment__label {
  font-size: 0.875rem;
}

.rux-clock__aos {
  margin-left: 1em;
}

.rux-clock__los {
  margin-left: 0.5em;
}
